@model FixMyOwnTv.Models.PageInfo
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" itemscope itemtype=http://schema.org/TechArticle>
<head xmlns:og="//opengraphprotocol.org/schema/" xmlns:fb="https://www.facebook.com/2008/fbml">
    <title id="title">@Model.Title</title>
    <meta charset="utf-8" />
    <meta id="metatitle" name="title" description="@Model.Title" />
    <meta id="description" name="description" content="@Model.Description" />
    <meta id="keywords" name="keywords" itemprop="keywords" content="@Model.Keywords" />
    <meta name="author" content="David Sheean" />
    <meta name="google-site-verification" content="38jnGtxeGkf6V2MJbrW-Webxjlr029x_3fkM7z8LgL0" />
    <meta name="msvalidate.01" content="1AD4823B39DD23EE93736A7EA034351D" />
    <meta name="yandex-verification" content="8d38f1a22e6dfc42" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    @*Start Smartphone tags*@
    <meta name="theme-color" content="#FFFFFF">
    @*<meta name="msapplication-navbutton-color" content="#00DDA7">
        <meta name="apple-mobile-web-app-status-bar-style" content="00DDA7">*@
    @*End Smartphone tags*@
    @*Start Open Graph data*@
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content='@ViewBag.CanonicalLink' />
    <meta property="og:image" content="http://fixmyowntv.com/Images/Text/LogoForFacebook.gif" />
    <meta property="og:description" content="@Model.og_description" />
    <meta property="og:site_name" content="www.FixMyOwnTv.com" />
    <meta property="fb:app_id" content="203848783424217" />
    @*End Open Graph data*@
    @*Start Microdata schema data*@
    <meta itemprop="proficiencylevel" content="Beginner">
    <meta itemprop="about" content="Television Repair" />
    <meta itemprop="datePublished" content="2017-02-01" />
    @*End Microdata schema data*@
    <link rel="canonical" href="@ViewBag.CanonicalLink" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @*<link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
        <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>*@

    @*<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>*@

    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css" />
    @*<link type="text/css" rel="stylesheet" href="~/Style/bootstrap/css/bootstrap-responsive.min.css" />*@
    <link type="text/css" rel="stylesheet" href="~/Style/HomePage_Default.css" />
    <script type="text/javascript" src="~/Style/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script> <!-- KEEP THIS LINE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#horizMenu").css({
                "display": "inline"
            });
        });
    </script>

    @*Start Google Analytics*@
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114914868-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-114914868-1');
    </script>
    @*End Google Analytics*@

    <meta name="norton-safeweb-site-verification" content="hw69jcgfsc7sakg6rk7m86bbb71xhnf5cdvhijqnxuix3qqhf5gqy0xi79qtew8prk09gxgaduis8tbjsm9rs-cmo8g-x3otvnguu0vytftgifoazitqpd05l3ffxlc1" />

    @*Start Adsense page-level ad / auto in-article native ad*@
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3867254156669214",
            enable_page_level_ads: true
        });
        (adsbygoogle = window.adsbygoogle || []).requestNonPersonalizedAds = 0
    </script>
    @*End Adsense page-level ad / auto in-article native ad*@

    @* EBay Smart Links - converts links to EBay to responsive mobile links*@
    <script>window._epn = { campaign: 5337068280 };</script>
    <script src="https://epnt.ebay.com/static/epn-smart-tools.js"></script>
    @* End EBay Smart Links*@

    <style type="text/css">
        #ArticleContainer p, #ArticleContainer h4, #ArticleContainer li {
            margin-top: 20px;
        }

        #ArticleContainer li {
            margin-top: 10px;
        }

        a.dropdown-item:hover {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <!-- Container -->
    <div class="container" style="max-width:700px!important; padding:20px;">
        <!-- Header -->
        <div class="row-eq-height">
            <img class="col-12" itemprop="image" alt="FixMyOwnTV.com" src="../../Images/Text/Logo3.gif" style="padding-left: 0px;" />
        </div>
        <div class="row-eq-height">
            <h4 class="col-12" style="color: #008080; margin-left: 20px;">Learn - get what you need - do it yourself!</h4>
        </div>
        @*
        <div id="customSearch" style="display: @ViewBag.ExposeCustomSearch">
            <div id="Search" class="span5">
                    <script>
                        (function () {
                            var cx = '002159653632261147762:nlbdclfe13o';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                        })();
                    </script>
                    <gcse:search enableautocomplete="true" enablehistory="true" autocompletemaxcompletions="6"></gcse:search>
                </div>
            <div class="span3"></div>

            </div>
        *@
        <!-- End Header -->
        <!-- Nav bar -->
        <br />
            <div class="row"><h4><em>Learning Center</em></h4></div>
            <ul class="row nav" id="navBar">
                <li class="nav-item dropdown">
                    <a class="btn btn-success nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="height:62px !important;" >Basics<br /></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="lnkHome" href=@ViewBag.HttpHost target="_self">@ViewBag.defaultMenuPick</a><br />
                        <a class="dropdown-item" id="lnkMyth-Reality" href=@String.Concat(@ViewBag.HttpHost, "myth-reality") target="_self">@ViewBag.mythrealityMenuPick</a><br />
                        <a class="dropdown-item" id="lnkCould" href=@String.Concat(@ViewBag.HttpHost, "could") target="_self">@ViewBag.couldMenuPick</a><br />
                        <a class="dropdown-item" id="lnkworth-fixing" href=@String.Concat(@ViewBag.HttpHost, "worth-fixing") target="_self">@ViewBag.worthfixingMenuPick</a><br />
                        <a class="dropdown-item" id="lnkworth-fixing2" href=@String.Concat(@ViewBag.HttpHost, "worth-fixing") target="_self">@ViewBag.reasonswhyMenuPick</a><br />
                        <a class="dropdown-item" id="lnkLCD-Plasma" href=@String.Concat(@ViewBag.HttpHost, "lcd-plasma") target="_self">@ViewBag.lcdplasmaMenuPick</a><br />
                        <a class="dropdown-item" id="lnkOrderParts" href=@String.Concat(@ViewBag.HttpHost, "orderparts") target="_self">@ViewBag.orderpartsMenuPick</a><br />
                        <a class="dropdown-item" id="lnkDanger" href=@String.Concat(@ViewBag.HttpHost, "danger") target="_self">@ViewBag.dangerMenuPick</a><br />
                        <a class="dropdown-item" id="lnkEquipment" href=@String.Concat(@ViewBag.HttpHost, "equipment") target="_self">@ViewBag.equipmentMenuPick</a><br />
                        <a class="dropdown-item" id="lnkHookedUp" href=@String.Concat(@ViewBag.HttpHost, "hookedup") target="_self">@ViewBag.hookedupMenuPick</a><br />
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="btn btn-success nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="height:62px !important;" >Cleaning<br /></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="lnkFlats" href=@String.Concat(@ViewBag.HttpHost, "flats") target="_self">@ViewBag.flatsMenuPick</a><br />
                        <a class="dropdown-item" id="lnkDLP" href=@String.Concat(@ViewBag.HttpHost, "dlp") target="_self">@ViewBag.dlpMenuPick</a><br />
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="btn btn-success nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="height:62px !important;" >Resources<br /></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="lnkDVD" href="http://www.mytvtestpatterns.com" rel="noreferrer" ) target="_blank">Free TV Test Patterns & Signals</a><br />
                        <a class="dropdown-item" id="lnkBooks" href=@String.Concat(@ViewBag.HttpHost, "books") target="_self">@ViewBag.booksMenuPick</a><br />
                        <a class="dropdown-item" id="lnkManuals" href=@String.Concat(@ViewBag.HttpHost, "manuals") target="_self">@ViewBag.manualsMenuPick</a><br />
                        <a class="dropdown-item" id="lnkParts" href=@String.Concat(@ViewBag.HttpHost, "parts") target="_self">@ViewBag.partsMenuPick</a><br />
                        <a class="dropdown-item" id="lnkAnswer" href=@String.Concat(@ViewBag.HttpHost, "daves") target="_self">@ViewBag.davesMenuPick</a><br />
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="btn btn-success nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="height:62px !important;" >Replacing<br />Parts</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="lnkParts" href=@String.Concat(@ViewBag.HttpHost, "parts") target="_self">@ViewBag.partsMenuPick</a><br />
                        <a class="dropdown-item" id="lnkLCD" href=@String.Concat(@ViewBag.HttpHost, "lcd") target="_self">@ViewBag.lcdMenuPick</a><br />
                        <a class="dropdown-item" id="lnkPlasma" href=@String.Concat(@ViewBag.HttpHost, "plasma") target="_self">@ViewBag.plasmaMenuPick</a><br />
                        <a class="dropdown-item" id="lnkBoards" href=@String.Concat(@ViewBag.HttpHost, "boards") target="_self">@ViewBag.boardsMenuPick</a><br />
                        <a class="dropdown-item" id="lnkGetTo" href=@String.Concat(@ViewBag.HttpHost, "getto") target="_self">@ViewBag.gettoMenuPick</a><br />
                        <a class="dropdown-item" id="lnkSolder" href=@String.Concat(@ViewBag.HttpHost, "solder") target="_self">@ViewBag.solderMenuPick</a><br />
                        <a class="dropdown-item" id="lnkWheels" href=@String.Concat(@ViewBag.HttpHost, "wheels") target="_self">@ViewBag.wheelsMenuPick</a><br />
                        <a class="dropdown-item" id="lnkEngines" href=@String.Concat(@ViewBag.HttpHost, "engines") target="_self">@ViewBag.enginesMenuPick</a><br />
                        <a class="dropdown-item" id="lnkLamps" href=@String.Concat(@ViewBag.HttpHost, "lamps") target="_self">@ViewBag.lampsMenuPick</a><br />
                    </div>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success nav-link" style="height:62px !important;" id="lnkFAQs" href=@String.Concat(@ViewBag.HttpHost, "faqs") target="_self">FAQs</a><br />
                </li>
                <li class="nav-item">
                    <a class="btn btn-success nav-link" style="height:62px !important;" id="lnkAboutUs" href=@String.Concat(@ViewBag.HttpHost, "aboutus") target="_self">About</a><br />
                </li>
            </ul>
            <div class="row"><h4><em>Solution Center</em></h4></div>
            <div class="row nav" id="navBar2">
                <div class="btn-group nav-item" role="group">
                    <button type="button" class="btn btn-info btn-sm nav-link dropdown-toggle" data-toggle="dropdown" style="color: white;">Power<br />Problems</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="lnkDead" href=@String.Concat(@ViewBag.HttpHost, "dead") target="_self">@ViewBag.deadMenuPick</a><br />
                        <a class="dropdown-item" id="lnkCycling" href=@String.Concat(@ViewBag.HttpHost, "cycling") target="_self">@ViewBag.cyclingMenuPick</a><br />
                    </div>
                </div>
                <div class="btn-group nav-item" role="group">
                    <button type="button" class="btn btn-info btn-sm nav-link dropdown-toggle" data-toggle="dropdown" style="color: white;">Signal<br />Problems</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="lnkAntenna" href=@String.Concat(@ViewBag.HttpHost, "antennas") target="_self">@ViewBag.antennasMenuPick</a><br />
                        <a class="dropdown-item" id="lnkIntSignal" href=@String.Concat(@ViewBag.HttpHost, "intsignal") target="_self">@ViewBag.intsignalMenuPick</a><br />
                        <a class="dropdown-item" id="lnkNetwork" href=@String.Concat(@ViewBag.HttpHost, "network") target="_self">@ViewBag.networkMenuPick</a><br />
                    </div>
                </div>
                <div class="btn-group nav-item" role="group">
                    <button type="button" class="btn btn-info btn-sm nav-link dropdown-toggle" data-toggle="dropdown" style="color: white;">System<br />Problems</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="lnkKeyPadChannels" href=@String.Concat(@ViewBag.HttpHost, "keypad/channels") target="_self">@ViewBag.channelsMenuPick</a><br />
                        <a class="dropdown-item" id="lnkKeyPadInputs" href=@String.Concat(@ViewBag.HttpHost, "keypad/inputs") target="_self">@ViewBag.inputsMenuPick</a><br />
                        <a class="dropdown-item" id="lnkUpdate" href=@String.Concat(@ViewBag.HttpHost, "update") target="_self">@ViewBag.updateMenuPick</a><br />
                    </div>
                </div>
                <div class="btn-group nav-item" role="group">
                    <button type="button" class="btn btn-info btn-sm nav-link dropdown-toggle" data-toggle="dropdown" style="color: white;">Picture<br />Problems</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="lnkShattered" href=@String.Concat(@ViewBag.HttpHost, "shattered") target="_self">@ViewBag.shatteredMenuPick</a><br />
                        <a class="dropdown-item" id="lnkSize" href=@String.Concat(@ViewBag.HttpHost, "zoom") target="_self">@ViewBag.zoomMenuPick</a><br />
                        <a class="dropdown-item" id="lnkColors" href=@String.Concat(@ViewBag.HttpHost, "colors") target="_self">@ViewBag.colorsMenuPick</a><br />
                        <a class="dropdown-item" id="lnkIntSignal" href=@String.Concat(@ViewBag.HttpHost, "intsignal") target="_self">@ViewBag.intsignalMenuPick</a><br />
                        <a class="dropdown-item" id="lnkAntenna" href=@String.Concat(@ViewBag.HttpHost, "antennas") target="_self">@ViewBag.antennasMenuPick</a><br />
                        <a class="dropdown-item" id="lnkStripesAndBars" href=@String.Concat(@ViewBag.HttpHost, "stripesandbars") target="_self">@ViewBag.stripesandbarsMenuPick</a><br />
                        <a class="dropdown-item" id="lnkStripesAndBars" href=@String.Concat(@ViewBag.HttpHost, "backlight") target="_self">@ViewBag.backlightMenuPick</a><br />
                        <a class="dropdown-item" id="lnkLampFailure" href=@String.Concat(@ViewBag.HttpHost, "lampfailure") target="_self">@ViewBag.lampfailureMenuPick</a><br />
                        <a class="dropdown-item" id="lnkBurnIn" href=@String.Concat(@ViewBag.HttpHost, "burnin") target="_self">@ViewBag.burninMenuPick</a><br />
                    </div>
                </div>
                <div class="btn-group nav-item" role="group">
                    <button type="button" class="btn btn-info btn-sm nav-link dropdown-toggle" data-toggle="dropdown" style="color: white;">Sound<br />Problems</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="lnkRattles" href=@String.Concat(@ViewBag.HttpHost, "rattles") target="_self">@ViewBag.rattlesMenuPick</a><br />
                        <a class="dropdown-item" id="lnkIAUD" href=@String.Concat(@ViewBag.HttpHost, "iaud") target="_self">@ViewBag.iaudMenuPick</a><br />
                        <a class="dropdown-item" id="lnkVolume" href=@String.Concat(@ViewBag.HttpHost, "volume") target="_self">@ViewBag.volumeMenuPick</a><br />
                        <a class="dropdown-item" id="lnkKeyPadVolume" href=@String.Concat(@ViewBag.HttpHost, "keypad/volume") target="_self">@ViewBag.volumecontrolMenuPick</a><br />
                        <a class="dropdown-item" id="lnkBuzzing" href=@String.Concat(@ViewBag.HttpHost, "buzzing") target="_self">@ViewBag.buzzingMenuPick</a><br />
                    </div>
                </div>
                <div class="btn-group nav-item" role="group">
                    <button type="button" class="btn btn-info btn-sm nav-link dropdown-toggle" data-toggle="dropdown" style="color: white;">Damage<br />Control</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="lnkPhysDamg" href=@String.Concat(@ViewBag.HttpHost, "worth-fixing#physical") target="_self">@ViewBag.physDamgMenuPick</a>
                        <a class="dropdown-item" id="lnkFlooding" href=@String.Concat(@ViewBag.HttpHost, "water") target="_self">@ViewBag.waterMenuPick</a><br />
                        <a class="dropdown-item" id="lnkLightning" href=@String.Concat(@ViewBag.HttpHost, "lightning") target="_self">@ViewBag.lightningMenuPick</a><br />
                    </div>
                </div>
            </div>
        <!-- End Nav bar -->
        <!-- Main Page -->
        <div class="row">
            <div id="mainContent">

                <!-- justAnswer Pop-up -->
                <div class="ja-gadget-virtual-assistant-subtle cleanslate">
                    <link rel="stylesheet" href="https://components.justanswer.com/css/ja-gadget-virtual-assistant-subtle" />
                    <script type="text/javascript" src="https://components.justanswer.com/js/ja-gadget-virtual-assistant-config,ja-gadget-virtual-assistant-subtle"></script>
                    <script type="text/javascript">
                        (function () {
                            require("ja-gadget-virtual-assistant-subtle")(
                                (function () { var scripts = document.querySelectorAll('script[src="https://components.justanswer.com/js/ja-gadget-virtual-assistant-config,ja-gadget-virtual-assistant-subtle"]'); return scripts[scripts.length - 1].parentNode })(),
                                require("ja-gadget-virtual-assistant-config")({ "partner": "US", "affiliateId": "ho|3640|2018", "profile": "consumer-electronics-tv", "settings": "showTeaserIn15Seconds", "showCopyright": false, "canCloseTeaser": false, "trackingPixels": { "transition": "https://trk.justanswer.com/aff_c?offer_id=2&aff_id=3640&file_id=2018&aff_sub=VA&aff_sub2=Subtle" } })
                            ).initialize();
                        })();
                    </script>
                </div><img src="https://trk.justanswer.com/aff_i?offer_id=2&aff_id=3640&file_id=2018&aff_sub=VA&aff_sub2=Subtle" width="1" height="1" />
                <!-- End justAnswer Pop-up -->

                <div class="dynamic-width" style="float:left; text-align:justify;">
                    <div id="ArticleContainer" style="line-height:175%; margin-top: 10px;">
                        @{if (String.IsNullOrEmpty(Model.Article))
                            {
                                @Html.Partial("Article/Default")
                            }
                            else
                            {
                                @Html.Partial("Article/" + Model.Article.ToString())
                            }
                        }
                        <br />
                        <div id="StarRating" style="text-align:center;">
                            How would you rate this?<br /><br />
                            <span id="star1" class="fa fa-star" onclick="ToggleStars(1)"></span>
                            <span id="star2" class="fa fa-star" onclick="ToggleStars(2)"></span>
                            <span id="star3" class="fa fa-star" onclick="ToggleStars(3)"></span>
                            <span id="star4" class="fa fa-star" onclick="ToggleStars(4)"></span>
                            <span id="star5" class="fa fa-star" onclick="ToggleStars(5)"></span>
                        </div>
                        <div id="StarRatingThankYou" style="text-align:center; visibility:hidden;">Thank you for your vote!</div>
                        <div id="Content"></div>

                        @*Html.Partial("Forum")*@

                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <meta itemprop="name" content="David Sheean" />
                        </span>

                        <p itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" style="font-family: Arial; font-size: 0.8em; text-align: center; margin-top:30px; line-height:20px;">
                            This web site is rated <span itemprop="ratingValue">@ViewBag.AverageRating</span> out of <span itemprop="bestRating">5</span> stars.<br />
                            It has received <span itemprop="ratingCount">@ViewBag.RatingCount</span> votes.<br />
                            <meta itemprop="itemReviewed" content="Television Repair Article" />
                        </p>
                    </div>
                    <!-- Footer -->
                    <div class="text-center" style="margin-bottom:20px; margin-top:30px;">
                        <div id="footerStyle" style="font-family: Arial; font-size: 0.8em; text-align: center;">
                            <br />
                            &copy; @DateTime.Today.Year myTvTestPatterns-com<br />
                            www.FixMyOwnTV.com <br />
                            <img alt="USA" src="../../Images/Graphics/UnitedStates.bmp" style="margin-right:10px; margin-left:10px;" />
                            Made in the USA<br />
                            <br /><br />

                            <!-- End Footer -->
                        </div>
                    </div>
                </div>
                <!-- End Container -->
            </div>
        </div>
    </div>

    <br />
    <br />

    @*Bing Knowledge Widget - START*@
    <script type='text/javascript' src='//www.bing.com/widget/bootstrap.js' data-id='de71836bd1ef4f8da1c3c2a6cd9cccc1' data-version='1.0b' data-autosnapshot='true' async></script>
    @*Bing Knowledge Widget - END*@

    <script type="text/javascript">

        function ToggleStars(rating) {
            if ($('#StarRatingThankYou').css('visibility') === 'hidden') {
                $('.fa').removeClass('checked');
                $('#StarRatingThankYou').css('visibility', 'visible');
                switch (rating) {
                    case 5:
                        $('#star5').addClass('checked');
                        $('#star4').addClass('checked');
                        $('#star3').addClass('checked');
                        $('#star2').addClass('checked');
                        $('#star1').addClass('checked');
                        break;
                    case 4:
                        $('#star4').addClass('checked');
                        $('#star3').addClass('checked');
                        $('#star2').addClass('checked');
                        $('#star1').addClass('checked');
                        break;
                    case 3:
                        $('#star3').addClass('checked');
                        $('#star2').addClass('checked');
                        $('#star1').addClass('checked');
                        break;
                    case 2:
                        $('#star2').addClass('checked');
                        $('#star1').addClass('checked');
                        break;
                    case 1:
                        $('#star1').addClass('checked');
                        break;
                }

                $.ajax({
                    type: "GET",
                    url: 'http://' + '@ViewBag.Host' + '/API/Rating?ThisRating=' + rating,
                    contentType: "application/json; charset=utf-8",
                    async: true,
                    complete: function (msg) {
                        $('#Content').html(msg.responseText);
                    }
                });

            }
        }

     </script>
</body>
</html>

